*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: rgb(178, 216, 235);

}
html,
body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(28, 27, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main h1{
    font-size: 48px;
    display: flex;
    align-items: center;
}
#main >h1 span{
    margin: 0 15 px;
    display: flex;
    align-items: center;

}
#main>#endec-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 8px;
    width: 30%;
    margin: 35px 0;
    border-radius: 10px;
}
#main>#endec-div h3{
    font-size: 17px;
    display: flex;
    align-items: center;
    border-radius:8px ;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 10px;
    transform: 0.2s ease;
}
#enc-btn{
    background-color: black;
}
#endec-div h3 span{
    display: flex;
    align-items: center;
    margin-right: 10px;

}
#endec-div h3 span img{
    height: 25px;

}